<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Asignación de cita médica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #166838;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{asset('http://yeshua.unicatolicadelsur.edu.co:4200/nephesh/public/uploads/imagenes/logo_institucional_UniCat%c3%b3lica-02.png')}}"
            alt="logo Institucional" style="display: block; margin: 0 auto; max-width: 100%;">
        <h1>Cambio en Hoja de Vida aprobado</h1>
        <p>
        <span>Estimado/a {{user.names}} {{user.lastNames}},</span>
        <span>A continuación le informamos que Coordinación de talento humano ha aprobado el cambio del ítem solicitado de la hoja de vida.</span>

        {% switch entityName %}
            {% case 'PersonalData' %}
                <h3><strong>Datos Personales</strong></h3>
                <p><i>Cambio de datos aprobado.</i></p>
            {% case 'AcademicTraining' %}
                <h3><strong>Formación Academica</strong></h3>
                <p>{{item.titleName}} - {{item.nameUniversity}}</p>
            {% case 'FurtherTraining' %}
                <h3><strong>Formación Complementaria</strong></h3>
                <p>{{item.titleName}} - {{item.institution}}</p>
            {% case 'Language' %}
                <h3><strong>Segunda Lengua</strong></h3>
                <p>{{item.nameLanguage}}</p>
            {% case 'WorkExperience' %}
                <h3><strong>Experiencia Laboral</strong></h3>
                <p>
                    {{item.companyName}} - {{item.position}}
                </p>
            {% case 'TeachingExperience' %}
                <h3><strong>Experiencia Docente</strong></h3>
                <p>
                    {{item.nameUniversity}} - {{item.admissionDate|date('d/m/Y')}} a 
                    {% if item.isActive %}
                        actualmente
                    {% else %}
                        {{item.retirementDate|date('d/m/Y')}}
                    {% endif %}
                </p>
            {% case 'IntellectualProduction' %}
                <h3><strong>Producción Intelectual</strong></h3>
                <p>{{item.titleProd ? (item.titleProd ~ ' - ' ~ item.urlVerification) : item.cvlac}}</p>
            {% case 'References' %}
                <h3><strong>Referencias</strong></h3>
                <p>{{loop.index}}. {{item.names}}</p>
            {% case 'Records' %}
                <p><i>Cambio de datos aprobado.</i></p>
            {% default %}
                <p>ERROR... comuniquese con Talento Humano</p>
        {% endswitch %}
        </p>
        <p>Atentamente,</p>
        <p>Fundación Universitaria Católica del Sur.</p>

    </div>
</body>
</html>