<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Asignación de cita médica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #166838;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Asignación de cita médica</h1>
        <p>Estimado/a {{ user.names }},</p>
        <p>Te informamos que se ha programado una cita médica para ti:</p>
        <p><strong>Ciudad:</strong> {{ medicalTest.city}}</p>
        <p><strong>Fecha:</strong> {{ medicalTest.date|date('d/m/Y H:i') }}</p>
        <p><strong>Dirección:</strong> {{ medicalTest.address}}</p>
        <p><strong>Contacto:</strong> {{ medicalTest.phone}}</p>
        <p><strong>Lugar:</strong> {{ medicalTest.medicalCenter }}</p>
        <p><strong>Tipo de Examen:</strong>{{medicalTest.typeTest}}</p>
        <p>Por favor, asegúrate de llegar a tiempo y llevar contigo cualquier documento o requisito necesario para la cita.</p>
        <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
        <p>¡Esperamos verte pronto!</p>
        <p>Atentamente,</p>
        <p>Universidad Católica del Sur</p>
    </div>
</body>
</html>