<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Asignación de cita médica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #166838;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{asset('http://yeshua.unicatolicadelsur.edu.co:4200/nephesh/public/uploads/imagenes/logo_institucional_UniCat%c3%b3lica-02.png')}}"
            alt="logo Institucional" style="display: block; margin: 0 auto; max-width: 100%;">
        <h1>Revisión de Hoja de Vida</h1>
        <p>
        <span>Estimado/a {{ user.names }},</span>
        <span>A continuación le informamos que se ha revisado su hoja de vida y se han encontrado los siguientes resultados de los ítems revisados.</span>
        <span>Las encontrarás aquí abajo:</span>
        {% if dataForEmail.personalData and dataForEmail.personalData[0] %}
            <h3><strong>Datos Personales</strong></h3>
            <p><i>{{dataForEmail.personalData[0].state}}{{dataForEmail.personalData[0].textReview ? ' - ' ~ dataForEmail.personalData[0].textReview : null}}</i></p>
        {% endif %}
        {% if dataForEmail.academicTraining %}
            <h3><strong>Formación Academica</strong></h3>
            {% for element in dataForEmail.academicTraining %}
                <p>{{loop.index}}. {{element.titleName}} - {{element.nameUniversity}}</p>
                <p><i>{{element.state}}{{element.textReview ? ' - ' ~ element.textReview : null}}</i></p>
            {% endfor %}
        {% endif %}
        {% if dataForEmail.furtherTraining %}
            <h3><strong>Formación Complementaria</strong></h3>
            {% for element in dataForEmail.furtherTraining %}
                <p>{{loop.index}}. {{element.titleName}} - {{element.institution}}</p>
                <p><i>{{element.state}}{{element.textReview ? ' - ' ~ element.textReview : null}}</i></p>
            {% endfor %}
        {% endif %}
        {% if dataForEmail.language %}
            <h3><strong>Segunda Lengua</strong></h3>
            {% for element in dataForEmail.language %}
                <p>{{loop.index}}. {{element.nameLanguage}}</p>
                <p><i>{{element.state}}{{element.textReview ? ' - ' ~ element.textReview : null}}</i></p>
            {% endfor %}
        {% endif %}
        {% if dataForEmail.workExperience %}
            <h3><strong>Experiencia Laboral</strong></h3>
            {% for element in dataForEmail.workExperience %}
                <p>{{loop.index}}. {{element.companyName}} - {{element.position}}
                </p>
                <p><i>{{element.state}}{{element.textReview ? ' - ' ~ element.textReview : null}}</i></p>
            {% endfor %}
        {% endif %}
        {% if dataForEmail.teachingExperience %}
            <h3><strong>Experiencia Docente</strong></h3>
            {% for element in dataForEmail.teachingExperience %}
                <p>{{loop.index}}. {{element.nameUniversity}} - {{element.admissionDate|date('d/m/Y')}} a 
                {% if element.isActive %}
                    actualmente
                {% else %}
                {{element.retirementDate|date('d/m/Y')}}
                {% endif %}
                 </p>
                <p><i>{{element.state}}{{element.textReview ? ' - ' ~ element.textReview : null}}</i></p>
            {% endfor %}
        {% endif %}
        {% if dataForEmail.intellectualProduction %}
            <h3><strong>Producción Intelectual</strong></h3>
            {% for element in dataForEmail.intellectualProduction %}
                <p>{{loop.index}}. {{element.titleProd ? (element.titleProd ~ ' - ' ~ element.urlVerification) : element.cvlac}}</p>
                <p><i>{{element.state}}{{element.textReview ? ' - ' ~ element.textReview : null}}</i></p>
            {% endfor %}
        {% endif %}
        {# {% if dataForEmail.references %}
            <h3><strong>Referencias</strong></h3>
            {% for element in dataForEmail.references %}
                <p>{{loop.index}}. {{element.names}}</p>
                <p><i>{{element.state}}{{element.textReview ? ' - ' ~ element.textReview : null}}</i></p>
            {% endfor %}
        {% endif %} #}
        {% if dataForEmail.records and dataForEmail.records[0] %}
            <h3><strong>Antecedentes</strong></h3>
            <p><i>{{dataForEmail.records[0].state}}{{dataForEmail.records[0].textReview ? ' - ' ~ dataForEmail.records[0].textReview : null}}</i></p>
        {% endif %}
        {% if generalTextReview %}
            <h3><strong>Revisión Adicional:</strong></h3>
            <p>{{generalTextReview}}</p>
        {% endif %}
        </p>
        <p>Atentamente,</p>
        <p>Fundación Universitaria Católica del Sur.</p>

    </div>
</body>
</html>